.footer {

    @media (max-width: 900px) {
        background: #EC5752;
    }
    &__inner {

        @media (max-width: 900px) {
            color: #fff;
        }
        display: inline-block;
        width: 100%;
        padding: 40px 0;
    color: #EC5752;

        &__content {
            @media (max-width: 822px) {
                width: 100%;
            text-align: center;
            }
            width: 33.3333%;
            display: inline-block;

            &__inner {
                padding: 0 40px;
            }
        }

        &__copyright {
            @media (max-width: 822px) {
                width: 100%;
            text-align: center;
            }
            width: 33.3333%;
            display: inline-block;
            margin: auto;
            text-align: center;
            vertical-align: middle;

            span {
                text-transform: uppercase;
                font-size: 0.85em;
             }
        }

        &__social {
            @media (max-width: 822px) {
                width: 100%;
                text-align: center;
                margin-top: 10px;
            }
            width: 32.3333%;
            display: inline-block;
            vertical-align: middle;
            ul {
                @media (max-width: 822px) {
                    text-align: center;
                }
                padding: 0px 40px 0 40px;
                margin: 0;
                list-style: none;
                text-align: right;

                li {
                    padding: 0;
                    display: inline-block;
                    margin: 0 8px;

                    a {
                        text-decoration: none;
                        cursor: pointer;

                        div {
                            width: 25px;
                            height: 25px;
                            background-position: center center;
                            background-repeat: no-repeat;

                            svg {
                                width: 100%;
                                height: 100%;
                                @media (max-width: 822px) {
                                    fill: #fff;
                                }

                                @media (max-width: 900px) {
                                    fill: #fff;
                                }
                                fill: #EC5752;
                            }
                        }
                    }
                }
            }
        }
    }
}